@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-fonts {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  
  /* sheard style */
.display-flex{
    display:flex ;
  }

  /* dark 02 */
  .text-gray{
    color: #424242;
  }
  /* dark 03 */
  .text-light-gray{
    color: #727272;
  }
  .bg-light{
    background: rgba(255, 144, 14, 0.1);
  }
  .btn-primary{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    padding: 20px 25px ;
    color: white;
    font-size: 1.25rem;
    border: none;
  }
  main , footer{
    max-width: 1440px;
    margin:0 auto;
    
}
main > section , footer{
    margin-top: 130px;
}
.section-title{
    font-size: 2.85rem;
    font-weight: 700;
}
  /* navber related style */        
.navbar{
    justify-content: space-between;
    align-items: center;
  }
.brand{
    font-size: 3rem;
    font-weight: 700;
  }
.nav-item{
    list-style: none;
    margin-right: 30px;
    

  }
.nav-link{
    text-decoration: none;
    font-weight: 500;

}
.navbar,.banner{
    max-width: 1440px;
    margin: 0 auto;    
}
/* banner related style */
.banner-contant{
   max-width: 850px;
   margin: 0 auto;
   text-align: center;
   margin-bottom: 50px;
}
.banner-title{
  font-size: 4rem;
  font-weight: 800;
}
.banner img{
    width: 100%;
}

/* tems related style */
.tems{
    align-items: center;
}
.tems-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 24px;
}
.tems-text-container{
    margin-left: 130px;
    max-width: 530px;
}

.Quick{
    font-weight: normal;
}
#part-2{
    color: black;
}
#part-3{
    color: rgb(255, 144, 14);
}
/* future section style */
.future{
  gap: 140px;
}
#future-section-title{
  border-left: 5px solid rgb(255, 144, 14);
  padding: 20px;
}
.future-card
{
   border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  margin-bottom: 20px;
  padding: 30px;
}
.future-title{
  font-weight: 600;
  font-size: 1.25rem;
  margin-top: 0px;
  margin-bottom: 0px;
}
#expariance-badze{
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight:500 ;
  margin-left: -100px;
  margin-top: -100px;

}
#expariance-year{
  font-size: 4rem;
}
.future-img img{
  width: 100%;
}
/* facts related style */
.facts-containe{
   display: grid;
   grid-template-columns: repeat(4,1fr);
}
.fact{
    background: rgb(255, 255, 255);
    width: 240px;
    height: 240px;
    border: 1px solid rgb(255, 144, 14);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  

   

}

.facts-discription{
  max-width: 540px;
}

.fact-number{
  font-size: 2.85rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}
.name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}
/* sponsor style */
.sponsor-contant{
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.sponsor-img{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-content: space-between;
  filter: grayscale(100%);
}
/* footer */

footer p{

  padding: 40px;
  font-size: 1.25rem;
  text-align: center;
  font-weight: 700;
}
/* responsive  quary */
@media screen and (max-width:576px){
    .navbar ,
     .nav-links ,
     .tems,
     .future{
        flex-direction: column;
    }
    .tems-img-container ,
    .facts-containe ,
    .sponsor-img
    {
        grid-template-columns: repeat(1,1fr);
    }
    .tems-text-container{
        margin-left: 20px;
    }
    .facts-containe , .sponsor-img{
    justify-items: center;
      gap: 24px;
    }
    #expariance-badze{
      margin-top: 20px;
      margin-left: 20px;
    }
  
}